{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}BlackLayer{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/base.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/login.css' %}">
    {% block extra_head %}{% endblock %}
</head>
<body class="{% block bodyclass %}{% endblock %}">
    {% block content %}{% endblock %}
</body>
</html>
